body {
  font-family: Arial, sans-serif;
  background-color: #ecdbdb;
  width: 100%; /* Đặt chiều rộng là 100% */
  height: 100%; /* Đặt chiều cao là 100% của viewport */
  margin: 0; /* Xóa margin mặc định */
  padding: 0; /* Xóa padding mặc định */
}

.container {
  max-width: 800px;
  padding: 20px;
  background: linear-gradient(to bottom, #e5efc1,  #a2d5ab);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.filters {
  text-align: center;
  margin-bottom: 20px;
}

.filters input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #a2d5ab;
  border-radius: 5px;
}

#statisticsTable {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #a2d5ab;
}

th {
  background-color: #a2d5ab;
}


#exportExcel {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: e5efc1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#exportExcel:hover {
  background-color: #45a049;
}

.button {
  background-color: #f28076;
  color: #000000;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button::after {
  content: "🔜";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  text-decoration: none;
  font-size: 30px;
  background-color: #45a049;
  /* 8ad879 */
  transition: left 0.5s ease-in-out;
}

.button:hover::after {
  left: 0;
  transition: left 0.5s ease-in-out;
}

.sidebar-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  }

  #sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ab1a1a;
  padding: 30px;
  height: 100%;
  }

  #sidebar .sidebar-logo {
  text-align: center;
  margin-bottom: 20px;
  }

  .content {
  margin-left: 250px;
  }

  .nav-item {
  color: #ab1a1a
  }

  .chart {
  width: 400px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  }

  .bar {
  width: 20px;
  height: 200px;
  /* Chiều cao của cột, có thể thay đổi tùy ý */
  background: #007bff;
  /* Màu của cột */
  position: absolute;
  bottom: 0;
  }

  .label {
  text-align: center;
  }

  .dropdown {
  margin-bottom: 5px;
  }

  .dropdown-item {
  background-color: #ffffff;
  color: #ab1a1a;
  }

  .btn.btn-secondary.dropdown-toggle {
  background-color: #ffffff;
  /* Đặt màu nền */
  color: #ab1a1a;
  /* Đặt màu chữ */
  border-color: #000000;
  /* Đặt màu viền */
  padding: 10px;
  }