body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../assets/bg_home.jpg');
  background-size: cover;
  background-position: top center;
}

header {
  background-color: #ee6457;
  color: #f28076;
  text-align: center;
  padding: 10px;
  height: 60px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header_navbar {
  display: flex;
  justify-content: space-between;
}

.header_navbar_item {
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 8px;
}

.header-with-search {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  height: 120px - 34px;
}

.header__logo img {
  max-width: 100%;
  width: 100px;
  height: auto;
  max-height: 60px;
  margin-right: 20px;
  border-radius: 5px;
}

.search-bar {
  display: flex;
  flex: 1;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
}

.search-input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  color: #000000;
  padding: 0 16px;
  border-radius: 10px;
}

.header__search-selection {
  border-left: 1px solid #CCC;
  padding-left: 16px;
}

.logout-button {
  background-color: #ecf3f3;
  color: #941b1b;
  border: none;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 40px;
  width: 100px;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 15px;
}

.search-button {
  background-color: #75bde0;
  color: #fff;
  border: none;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 40px;
  width: 100px;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  
}

.search-button::after {
  content: "🔍";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  /* font-size: 20px; */
  background-color: #75bde0;
  text-decoration: none;
  font-size: 30px;
  /* 8ad879 */
  transition: left 0.5s ease-in-out;
}

.search-button:hover::after {
  left: 0;
  transition: left 0.5s ease-in-out;
}

.header_navbar-item-separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 22px;
  right: -12px;
  top: 0;
  border-left: 2px solid #FB9086;
  top: 50%;
  transform: translateY(-50%);
}

.exam-list {
  max-width: 600px;
  margin: 20px auto;
}

.exam-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #fff;
}

.search-bar {
  margin: 10px 0;
}

.start-exam-btn {
  background-color: #b85b56;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

.exam-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  /* background-color: #fff; */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(220, 220, 220, 0.9));
}

.exam-info {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.exam-info:last-child {
  border-bottom: none;
}

.exam-info p {
  margin: 5px 0;
}

.exam-info strong {
  font-weight: bold;
  color: #333;
}

.start-button {
  background-color: #f28076;
  color: #000000;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.start-button::after {
  content: "🔜";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background-color: #f28076;
  font-size: 20px;
  /* 8ad879 */
  transition: left 0.5s ease-in-out;
}

.start-button:hover::after {
  left: 0;
  transition: left 0.5s ease-in-out;
}

.custom-cursor {
  cursor: pointer;
  /* Đổi hình dạng chuột thành hình búa */
}