body {
  background-color: #f0d8d8;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

.profile {
  background-color: #e9c0c0;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile .form-group {
  margin-bottom: 20px;
}

.profile label {
  font-weight: bold;
}

.text-center {
  display: flex;
  justify-content: center;
}
