body {
  background-color: #c8dff5;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  border-radius: 8px;
}

.profile {
  background-color: #e9c0c0;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile .form-group {
  margin-bottom: 20px;
}

.profile label {
  font-weight: bold;
}

.text-center {
  display: flex;
  justify-content: center;
}


.split-container {
  height: 100%;
  display: flex;
}

.split {
  height: 100%;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

.left {
  width: 40%;
  background-color: #f1f1f1;

  overflow-y: auto;
}

.right {
  margin-left: 20px;
  border-radius: 8px;
  width: 60%;
  background-color: #f1f1f1;
}


.container1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}

.exam {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #141313;
  border-radius: 5px;
  background-color: #e9c0c0;
}

.exam h2 {
  margin-top: 0;
}

.exam p {
  margin: 5px 0;
}

