body {
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.sidebar-logo {
  width: 150px;
  /* Kích thước ảnh */
  height: 150px;
  /* Kích thước ảnh */
  border-radius: 50%;
  /* Độ cong của các góc, 50% sẽ tạo thành hình tròn */
  overflow: hidden;
  /* Ẩn các phần vượt ra khỏi khu vực hình tròn */
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ab1a1a;
  padding: 30px;
  height: 100%;
}

#sidebar .sidebar-logo {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  margin-left: 250px;
}

.nav-item {
  color: #ab1a1a
}

.chart {
  width: 400px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}

.bar {
  width: 20px;
  height: 200px;
  /* Chiều cao của cột, có thể thay đổi tùy ý */
  background: #007bff;
  /* Màu của cột */
  position: absolute;
  bottom: 0;
}

.label {
  text-align: center;
}

.dropdown {
  margin-bottom: 5px;
}

.dropdown-item {
  background-color: #ffffff;
  color: #ab1a1a;
}

.btn.btn-secondary.dropdown-toggle {
  background-color: #ffffff;
  /* Đặt màu nền */
  color: #ab1a1a;
  /* Đặt màu chữ */
  border-color: #000000;
  /* Đặt màu viền */
  padding: 10px;
}
