body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background:#ecdbdb;
  /* background: linear-gradient(to bottom, #e68a8c, #e7e0c4, #dbd468, #89b449, #407f3e); */
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: linear-gradient(to bottom, #e7e0c4,#92c790, #89b449, #dbd468, #e68a8c);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.questions {
  margin-bottom: 20px;
}

.question-item {
  border: 1px solid #e7e0c4;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #e7e0c4;
}

ul {
  list-style: none;
  padding: 0;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

p {
  color: #000000;
  margin-top: 10px;
  font-weight: bold;
}

p.score {
  text-align: center;
  font-size: 20px;
  color: #0066cc;
  margin-top: 30px;
}

.sidebar-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  }

  #sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ab1a1a;
  padding: 30px;
  height: 100%;
  }

  #sidebar .sidebar-logo {
  text-align: center;
  margin-bottom: 20px;
  }

  .content {
  margin-left: 250px;
  }

  .nav-item {
  color: #ab1a1a
  }

  .chart {
  width: 400px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  }

  .bar {
  width: 20px;
  height: 200px;
  /* Chiều cao của cột, có thể thay đổi tùy ý */
  background: #007bff;
  /* Màu của cột */
  position: absolute;
  bottom: 0;
  }

  .label {
  text-align: center;
  }

  .dropdown {
  margin-bottom: 5px;
  }

  .dropdown-item {
  background-color: #ffffff;
  color: #ab1a1a;
  }

  .btn.btn-secondary.dropdown-toggle {
  background-color: #ffffff;
  /* Đặt màu nền */
  color: #ab1a1a;
  /* Đặt màu chữ */
  border-color: #000000;
  /* Đặt màu viền */
  padding: 10px;
  }