#registerForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(220, 220, 220, 0.9));

  /* Màu nền trắng với độ trong suốt 90% */
  border: 1px solid rgba(220, 220, 220, 0.9);
  /* Viền bo góc màu xám nhạt với độ trong suốt 90% */
  border-radius: 8px;
  /* Bo góc */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Hiệu ứng bóng */
}
form {
  display: flex;
  flex-direction: column;
}
body{
  background: #ecdbdb;
}

/* .container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(220, 220, 220, 0.9));
} */

/* Cách nhau dưới */
.container > * {
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}
h2 {
  margin-top: 20px;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}


button:hover {
  background-color: #0056b3;
}


.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background-color: rgba(33, 2, 206, 0.5);
  /* 8ad879 */
  transition: left 0.5s ease-in-out;
}

.button:hover::after {
  left: 0;
  transition: left 0.5s ease-in-out;
}


a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
.sidebar-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  }

  #sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ab1a1a;
  padding: 30px;
  height: 100%;
  }

  #sidebar .sidebar-logo {
  text-align: center;
  margin-bottom: 20px;
  }

  .content {
  margin-left: 250px;
  }

  .nav-item {
  color: #ab1a1a
  }

  .chart {
  width: 400px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  }

  .bar {
  width: 20px;
  height: 200px;
  /* Chiều cao của cột, có thể thay đổi tùy ý */
  background: #007bff;
  /* Màu của cột */
  position: absolute;
  bottom: 0;
  }

  .label {
  text-align: center;
  }

  .dropdown {
  margin-bottom: 5px;
  }

  .dropdown-item {
  background-color: #ffffff;
  color: #ab1a1a;
  }

  .btn.btn-secondary.dropdown-toggle {
  background-color: #ffffff;
  /* Đặt màu nền */
  color: #ab1a1a;
  /* Đặt màu chữ */
  border-color: #000000;
  /* Đặt màu viền */
  padding: 10px;
  }